
.go-to-top {
    font-family: 'raleway', sans-serif !important;
    letter-spacing: 2px;
    text-align: center !important;
    font-size: 28px;
    color: white;

    @media (min-width: 768px) {
        // font-size: 48px !important;
    }
}

.copyrights-title {
    font-family: 'raleway', sans-serif !important;
    letter-spacing: 2px;
    text-align: center !important;
    font-size: 20px;
    color: rgba(160, 160, 159, 1);

    @media (min-width: 768px) {
        // font-size: 48px !important;
    }
}